@page
@using Placeholder.Pages
@using Placeholder.Drawing
@using Microsoft.Extensions.Options
@using Placeholder.Controllers
@model IndexModel
<html lang="en-us">
<head>
  <title>@Model.PageOptions.Title</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="shortcut icon" href="/32x32?text=×" type="image/png" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
  <nav class="navbar navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/">@Model.PageOptions.Title</a>
    </div>
  </nav>
  <img class="img-fluid" src="@Url.Action(nameof(PlaceholderController.Rectangle), "Placeholder", new { text = Model.PageOptions.Banner, width = 1920, height = 480 })" alt="banner-placeholder" />
  <main class="Container">
    <section id="intro" class="row  mt-4">
      <div class="col-sm-12">
        <h1>Placeholder Images</h1>
        <p>
          Insert a sample placeholder image by adding this snippet. Any height and width combo will work:
        </p>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top" src="@Url.Action(nameof(PlaceholderController.Rectangle), "Placeholder", new { width = 480, height = 240 })" alt="placeholder" />
          <div class="card-body">
            <h5 class="card-title">Basic Usage</h5>
            <p class="card-text"><code>@Url.Action(nameof(PlaceholderController.Rectangle), "Placeholder", new { width = 480, height = 240 })</code></p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top" src="@Url.Action(nameof(PlaceholderController.Rectangle), "Placeholder", new { width = 480, height = 240, bgColor = Model.ImageOptions.ForegroundColor, fgColor = Model.ImageOptions.BackgroundColor })" alt="placeholder" />
          <div class="card-body">
            <h5 class="card-title">Colors</h5>
            <p class="card-text"><code>@Url.Action(nameof(PlaceholderController.Rectangle), "Placeholder", new { width = 480, height = 240, bgColor = Model.ImageOptions.ForegroundColor, fgColor = Model.ImageOptions.BackgroundColor })</code></p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top" src="@Url.Action(nameof(PlaceholderController.Rectangle), "Placeholder", new { width = 480, height = 240, text = "Sample" })" alt="placeholder" />
          <div class="card-body">
            <h5 class="card-title">Custom Text</h5>
            <p class="card-text"><code>@Url.Action(nameof(PlaceholderController.Rectangle), "Placeholder", new { width = 480, height = 240, text = "Sample" })</code></p>
          </div>
        </div>
      </div>
    </section>
    <section id="api" class="row mt-4">
      <div class="col-sm-12">
        <h2>Full API</h2>
        <h3 class="mt-4">Format</h3>
        <p>Urls can be formatted as follows:</p>
        <ul>
          <li><code>/{size}</code></li>
          <li><code>/{size}/{backgroundColor}</code></li>
          <li><code>/{size}/{backgroundColor}/{foregroundColor}</code></li>
        </ul>
        <p>Color codes are formatted as 3 or 6 character hex codes.</p>
        <h3 class="mt-4">Sizes</h3>
        <p>
          Sizes can be formatted as <code>{width}x{height}</code> for a custom rectangle, <code>{size}</code> for a custom square, or one of the following supported presets:<br />
        </p>
        <p>
        <table class="table">
          <thead>
            <tr><th>Example URL</th><th>Size</th></tr>
          </thead>
          <tbody>
            @foreach (var preset in Sizes.Presets.OrderBy(p => p.Key.StartsWith("ad")).ThenBy(p => p.Value.Width))
            {
              <tr>
                <td>
                  <a target="_blank" href="@Url.Action(nameof(PlaceholderController.Preset), "Placeholder", new { preset = preset.Key })">
                    @Url.Action(nameof(PlaceholderController.Preset), "Placeholder", new { preset = preset.Key })
                  </a>
                </td>
                <td>@preset.Value.Width × @preset.Value.Height</td>
              </tr>
            }
          </tbody>
        </table>
        </p>
        <h3 class="mt-4">Querystring Parameters</h3>
        <table class="table">
          <thead>
            <tr><th>Parameter</th><th>Example</th><th>Description</th></tr>
          </thead>
          <tbody>
            <tr><td>text</td><td>?text=Sample</td><td>Sets the overlaid image text</td></tr>
            <tr><td>textSize</td><td>?textSize=48</td><td>Sets the font size of overlaid text</td></tr>
          </tbody>
        </table>
      </div>
    </section>
  </main>
</body>
</html>